.dark-control:focus {
    border-color: #343a40;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #343a40;;
}



a:link {
    color: #343a40;
    text-decoration: none;


}

a:visited {
    text-decoration: none;
    color: #50555b;

}


.orange-control {
    background-color: #FF9800;
}